In [1]:
import numpy as np
import pandas as pd
import os

import tensorflow as tf

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
def reset_graph(seed = 42):
    tf.reset_default_graph()
    tf.set_random_seed(seed)
    np.random.seed(seed)

In [3]:
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [4]:
train_data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [6]:
h = 28
w = 28
channels = 1
n_i = h*w
n_o = 10

In [7]:
conv1_fmaps = 32
conv1_ksize = 3
conv1_stride = 1
conv1_pad = "SAME"

conv2_fmaps = 64
conv2_ksize = 3
conv2_stride = 1
conv2_pad = "SAME"
conv2_dropoutrate = 0.25

In [8]:
pool3_fmaps = conv2_fmaps

n_fc1 = 128
fc1_dropoutrate = 0.5

In [9]:
reset_graph()

In [10]:
with tf.name_scope("inputs"):
    x = tf.placeholder(tf.float32, shape = [None, n_i], name = "x")
    x_reshaped = tf.reshape(x, shape = [-1, h, w, channels])
    y = tf.placeholder(tf.int32, shape = [None], name = "y")
    training = tf.placeholder_with_default(False, shape = [], name = "training")

In [ ]:
conv1 = tf.layers.conv2d(x_reshaped, filters = conv1_fmaps)